<section class="footer_sec">
    <footer id="footer">
        <a href="https://github.com/nguyenbinh-exe/COSC4353_Group57_Project.git" style="color: white"> <i class="footer-icon fa-brands fa fa-github fa-2x"></i></a>
        <p>© Copyright Group57.co</p>

</section>
</footer>
</body>
</html>