<%- include ('partials/header'); -%>
<!-- Meet Our Team -->

<section id="meet-team">
    <div class="container">
        <h2 class="section-heading ">Meet Our Team</h2>
        <div class="row ">
            <div class="col-lg-3 col-md-6">
                <div class="team-member">
                    <img class="img-fluid rounded-circle" src="https://media.licdn.com/dms/image/C5603AQH2V5tUIy0eXg/profile-displayphoto-shrink_200_200/0/1662607800733?e=1687996800&v=beta&t=FPmxT1wOEqDwm9l8BAZPehLoDmdA3dTvDGECmH2RhJw" alt="">
                    <h4>Binh Nguyen</h4>
                    <p  >Computer Science Major at UH</p>
                    <a href="https://github.com/nguyenbinh-exe" target="_blank"><i class="fab fa-github fa-lg"style = 'color:whitesmoke'></i></a>
                    <a href="https://www.linkedin.com/in/nguyenbinh-exe/" target="_blank"><i class="fab fa-linkedin fa-lg" style="color:whitesmoke; margin-left: 10px;"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-member">
                    <img class="img-fluid rounded-circle" src="https://via.placeholder.com/150" alt="">
                    <h4>Tung Dinh</h4>
                    <p >Computer Science Major at UH</p>
                    <a href="https://github.com/tsdinh442" target="_blank"><i class="fab fa-github fa-lg"style = 'color:whitesmoke'></i></a>
                    <a href="https://www.linkedin.com/in/binh-nguyen" target="_blank"><i class="fab fa-linkedin fa-lg" style="color:whitesmoke; margin-left: 10px;"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-member">
                    <img class="img-fluid rounded-circle" src="https://via.placeholder.com/150" alt="">
                    <h4>Devin Kulatunga</h4>
                    <p >Computer Science Major at UH</p>
                    <a href="https://github.com/devK75" target="_blank"><i class="fab fa-github fa-lg"style = 'color:whitesmoke'></i></a>
                    <a href="https://www.linkedin.com/in/binh-nguyen" target="_blank"><i class="fab fa-linkedin fa-lg" style="color:whitesmoke; margin-left: 10px;"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-member">
                    <img class="img-fluid rounded-circle" src="https://media.licdn.com/dms/image/C4E03AQGh8u1WTZkCdA/profile-displayphoto-shrink_200_200/0/1627261392581?e=1687996800&v=beta&t=A-zt32Y4n5r0dAWGGF5ym9X0-6Ogt_XoOIv7c5zT9Sg" alt="">
                    <h4>Terry Hoang</h4>
                    <p >Computer Science Major at UH</p>
                    <a href="https://github.com/terrytamhoang" target="_blank"><i class="fab fa-github fa-lg" style = 'color:whitesmoke'></i></a>
                    <a href="https://www.linkedin.com/in/terrytamhoang/" target="_blank"><i class="fab fa-linkedin fa-lg" style="color:whitesmoke; margin-left: 10px;"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include ('partials/footer'); -%>
