<%- include ('partials/headerLogin'); -%>

<body class="text-center formQuote_body">

  <main class="form-quote-form w-100 m-auto">
    <form action="/" method="POST">
      <img class="mb-4" src="images/title_img.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 fw-normal">Fuel Quote Form</h1>

      <div class="form-floating">
        <input type="number" id="gals" name="gallons" class="form-control formQuote_top" placeholder="Gallons Requested" oninput="calculatePrice()">
        <label for="gals" class="formQuote_label">Gallons Requested</label>
      </div>
      <div class="form-floating">
        <input type="text" name="d_address" class="form-control formQuote_mid" placeholder="Delivery Address" readonly>
        <label class="formQuote_label">Delivery Address</label>
      </div>
      <div class="form-floating">
        <input type="date" name="d_date" class="form-control formQuote_mid" placeholder="Delivery Date">
        <label class="formQuote_label">Delivery Date</label>
      </div>
      <div class="form-floating">
        <input type="number" id="price" name="suggested_price" class="form-control formQuote_mid" placeholder="Suggested Price" oninput="calculatePrice()">
        <label for="price "class="formQuote_label">Suggested Price</label>
      </div>
      <div class="form-floating">
        <input type="number" id="total" name="total_amount" class="form-control formQuote_bot" placeholder="Total Amount Due" readonly>
        <label for="total" class="formQuote_label">Total Amount Due</label>
      </div>

      <button class="btn btn-outline-light btn-lg download-buttons" type="submit">Confirm</button>
    </form>
  </main>
  <script>
    function calculatePrice()
    {
      const price = Number(document.getElementById("price").value);
      const gal = Number(document.getElementById("gals").value);
      const total_price = price * gal;
      document.getElementById("total").value = total_price.toFixed(2);
    }
  </script>
</body>

<%- include ('partials/footer'); -%>