<%- include ('partials/headerLogin'); -%>
<!--TITLE START-->
<section id = "title">
    <div class = "container-fluid">
        <div class="row title_box">
            <div class="title_text_box col-lg-6">
                <h1 class = "title_text">Most Trusted Energy Company</h1>
                <p class="title_paragraph">Welcome to our team! We are a group of passionate computer science students from the University of Houston. Our team consists of Binh, Tung, Devin, and Terry, each bringing their unique skills and expertise to the table. We are dedicated to developing innovative solutions to solve real-world problems and are excited to tackle any challenge that comes our way. Get to know us better by checking out our individual profiles in about us page.</p>
                <!-- After logged in, no need button to sign in and register-->
                <!-- <button type="button" onclick="window.location.href='login';" class="btn btn-light btn-lg sign_up_buttons" value="Click">Sign in</button>
                <button type="button" onclick="window.location.href='register';" class="btn btn-outline-light btn-lg sign_up_buttons" value="Click">Register</button> -->
            </div>


            <div class="col-lg-6">
                <img class="title_image" src="images/title_img.png" alt="title_image">
            </div>
        </div>
    </div>
</section>

<!-- Features -->

<section id="features">
    <div class="row">
        <div class="feature-box col-lg-4 col-md-12">
            <i class="feature-icons fa-solid fa-truck-fast fa-4x"></i>
            <h3 class="feature_text">Fast service</h3>
            <p class="feature_text">Online chat and Toll free support 24/7.</p>
        </div>

        <div class="feature-box col-lg-4 col-md-12">
            <i class="feature-icons fa-solid fa-hand-holding-dollar fa-4x"></i>
            <h3 class="feature_text">Competitive pricing</h3>
            <p class="feature_text">Ensure the highest quality yet affordable</p>
        </div>

        <div class="feature-box col-lg-4 col-md-12">
            <i class="feature-icons fa-solid fa-handshake fa-4x"></i>
            <h3 class="feature_text">Satisfaction Guaranteed</h3>
            <p class="feature_text">At Group57, we ensure our customers are happy that they chose us.</p>
        </div>
    </div>

</section>

<!-- Press Begin -->

<section id="press">
    <img class="press-logo" src="images/techcrunch.png" alt="tc-logo">
    <img class="press-logo" src="images/tnw.png" alt="tnw-logo">
    <img class="press-logo" src="images/bizinsider.png" alt="biz-insider-logo">

</section>
<!-- Press End-->

<%- include ('partials/footer'); -%>