<%- include ('partials/header'); -%>
<!--TITLE START-->
<section id = "title">
    <div class = "container-fluid">
        <div class="row title_box">
            <div class="col-lg-6">
                <h1 class = "title_text">Most Trusted Energy Company</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Libero justo laoreet sit amet. Posuere ac ut consequat semper viverra nam.</p>
                <button type="button" onclick="window.location.href='signin';" class="btn btn-light btn-lg download-buttons" value="Click"/>Sign in</button>
                <button type="button" onclick="window.location.href='';" class="btn btn-outline-light btn-lg download-buttons" value="Click"/>Register</button>
            </div>


            <div class="col-lg-6">
                <img class="title_image" src="images/title_img.png" alt="title_image">
            </div>
        </div>
    </div>
</section>

<!-- Features -->

<section id="features">
    <div class="row">
        <div class="feature-box col-lg-4 col-md-12">
            <i class="feature-icons fa-solid fa-truck-fast fa-4x"></i>
            <h3 class="feature_text">Fast service</h3>
            <p class="feature_text">Online chat and Toll free support 24/7.</p>
        </div>

        <div class="feature-box col-lg-4 col-md-12">
            <i class="feature-icons fa-solid fa-hand-holding-dollar fa-4x"></i>
            <h3 class="feature_text">Competitive pricing</h3>
            <p class="feature_text">Ensure the highest quality yet affordable</p>
        </div>

        <div class="feature-box col-lg-4 col-md-12">
            <i class="feature-icons fa-solid fa-handshake fa-4x"></i>
            <h3 class="feature_text">Satisfaction Guaranteed</h3>
            <p class="feature_text">At Group57, we ensure our customers are happy that they chose us.</p>
        </div>
    </div>

</section>

<!-- Press Begin -->

<section id="press">
    <img class="press-logo" src="images/techcrunch.png" alt="tc-logo">
    <img class="press-logo" src="images/tnw.png" alt="tnw-logo">
    <img class="press-logo" src="images/bizinsider.png" alt="biz-insider-logo">

</section>
<!-- Press End-->

<%- include ('partials/footer'); -%>