<%- include ('partials/header'); -%>

<body  class="text-center signin">
<form action="/login" class="form-signin" method="post" >
    <img class="mb-4" src="images/title_img.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Customer Sign In</h1>

    <input type="text"  class="form-control signin_top" placeholder="Email" name="email" required autofocus>
    <input type="password"  class="form-control signin_bottom" placeholder="Password" name="password" required>
    <button class="btn btn-outline-light btn-lg download-buttons" type="submit">Sign in</button>

</form>
<p>Do not have an account?</p>
<a class = "create_account" href="register">Create account</a>
</body>
<%- include ('partials/footer'); -%>