<!doctype html>
<%- include ('partials/header'); -%>
<html>
<style>

table, th, td {
  border:.5px solid rgb(127, 124, 124);
  border-collapse: collapse;
  border-spacing: 3px;
  padding: 10px;
  
 
}
table caption { 
    border:.5px solid rgb(130, 129, 129);
    color: white;
    padding: 10px;
    background: rgb(4, 130, 248);
}
table th { 
    padding: 10px;
    background: rgb(246, 246, 246);
}
table td { 
    padding: 10px;
    background: rgb(246, 246, 246);
}
body {
background-color: #dbd8d8ab;
}
</style>
<body>


<table style="width:100%">
  <tr>
    <caption>Fuel Quote History</caption>
    <th>Client</th>
    <th>Gallons Requested</th>
    <th>Delivery Address</th>
    <th>Delivery Date</th>
    <th>Suggested Price / gallon</th>
    <th>Total Amount Due</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

</table>



</body>
<%- include ('partials/footer'); -%>