<%- include ('partials/header'); -%>
<body>
<section id="aboutus">
    <img src="images/background.jpg"  class="about_us_image" >
    <h1>LOGIN SUCCESS</h1>
</section>
</body>

<%- include ('partials/footer'); -%>