#title{
    background-color: #393E46;

    color: #fff;
}


/*NAV BAR*/
.navbar{
    padding: 0 4.5rem 0 4.5rem;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.nav-link{
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.2rem;
}


/*Title*/
.title_image{
    width: 18%;
    position: absolute;
    right: 5%;
    margin-right: 50px;
    padding-right: 3rem;

}
.title_text{
    font-size: 2.25rem;
    width: auto;
    margin-top: 60px;
    margin-right:50px;
    margin-bottom: 10px;
}


.title_paragraph{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    
}
.title_box{
    margin-top: 50px;
    padding-bottom: 200px;

}
.title_text_box{
    padding-left: 4.5rem;
}
.sign_up_buttons{
    margin: 5% 3% 5% 0;
}

/* Features section */
#features{
    padding: 7% 15%;
    background-color: #EEEEEE;
    position: relative;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.feature-icons{
    color: #00ADB5;
    margin-bottom: 1rem;
}
.feature-icons:hover{
    color: #222831;
}
.feature_text{
    color:black;
}
/*PRESS*/
#press{
    background-color: #393E46;
    text-align: center;
    padding: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 15px 20px;
}
.carousel-item{
    padding: 7% 15%;
}

/* footer-section */

#footer{

    padding: 7% 15%;
    text-align: center;
}
.footer-icon{
    margin: 20px 10px;
}

