body {
    font-family: Arial, sans-serif;  
}

header {
    font-size: 35 px;
    font-weight: light;
    border-bottom: 2px solid black;
    margin: 30px;
}

form {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
    font-size: 28 px; 
    width: 100%;
    max-width: 32rem; 
    margin: 30px;           
}

select {
    width: 100%;
    padding:10px;
    border-radius:10px;
    margin:10px 0;
    margin-bottom: 20px;
    margin-top: 2px;
}

input {
    width: 100%;
    padding:10px;
    border-radius:10px;
    margin:10px 0;
    margin-bottom: 20px;
    margin-top: 2px;
    transition: .3s border-color;
    border:1px solid #111;
    transition: .3s background-color;
    box-sizing: border-box;
    
}

input:hover {
    border: 1px solid #ffffff;
}

.report {
    margin: 30px;
    display: flex;
	flex-direction: row;
}

#report {
    float: left;
    width: 150px;
}


#submit-btn {
    background-color:#000000;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    grid-column: 1 / 2;
    width: 100%;
}

#edit-btn {
    background-color:#000000;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:2px;
    height:30px; 
    width: 120px;
}

#edit-btn:hover {
    background-color:#002ead;
    transition: 0.7s;
}

#submit-btn:hover {
    background-color:#002ead;
    transition: 0.7s;
}

#submit-btn:disabled {
    background-color: #ccc;
    color: #666;
}

#submit-btn:not(:disabled) {
    background-color: #0066cc;
    color: #fff;
}

#lastname {
    grid-column: 2 / 4;   
}

#address1, #address2 {
    grid-column: 1 / 4;   
}

#city, #firstname {
    grid-column: 1 / 2;
}

#state {
    grid-column: 2 / 3;
}

#zipcode {
    grid-column: 3 / 4;
}