<footer id="footer">
    <i class="footer-icon fa-brands fa-square-facebook fa-2x"></i>
    <i class="footer-icon fa-brands fa-square-twitter fa-2x"></i>
    <i class="footer-icon fa-solid fa-envelope fa-2x"></i>
    <p>© Copyright Group57.co</p>

</footer>
</body>
</html>